@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@keyframes bounce-in-right {
    0% {
      opacity: 0;
      transform: translateX(2000px);
    }
    60% {
      opacity: 1;
      transform: translateX(-30px);
    }
    80% { transform: translateX(10px); }
    100% { transform: translateX(0); }
  }
  @keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}
@keyframes bounce {
    70% { transform:translateY(0%); }
    80% { transform:translateY(-15%); }
    90% { transform:translateY(0%); }
    95% { transform:translateY(-7%); }
    97% { transform:translateY(0%); }
    99% { transform:translateY(-3%); }
    100% { transform:translateY(0); }
}


*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none; display: block; font-family: 'Noto Sans KR', sans-serif; color: #222;}
html, body{font-family:'Noto Sans KR', sans-serif; overflow-x: hidden;}
header,section,footer{width: 100%; float: left;}
header,section,footer,div{box-sizing: border-box;}
img{width:100%;}
.wrap {width:100%;}
header{display: flex; justify-content: space-between; height: 75px;}
.centerbox{width: 1280px; margin: 0 auto;}
.top_menu{width: 100%; height: 75px; position: relative; display: flex; justify-content: space-between;}
/* .top_menu >div{float: left;} */
.left_nav nav > ul > li > a{font-size: 20px; font-weight: bold; color: #666; margin: 10px 15px ;}
.top_menu .logo{width:110px  ;height: 38px; margin-top: 10px;}
.top_menu nav ul li{float: left; margin: 10px;}
.top_menu .right_nav{width: 400px; float: right; padding-top: 10px;} 
.search_icon{width:3vh; background-image: url(../img/search.svg); background-repeat: no-repeat;height:3vh; background-size: 100%; margin-top: 20px;}
.hambe_icon{width:3vh; background-image: url(../img/Hamburger_icon.svg); background-repeat: no-repeat; background-size: 100%; height: 3vh; margin-top: 20px;}
.mb_ham{display: none;}
.mb_main_menu{display: none;}
.mb_nav_in .mb_top_menu ul{display: none;}
.mb_close_btn{display: none;}
.right_nav ul li{float: right;display: flex; margin: 10px;}
.right_nav ul li a{font-weight: bold; margin: 0 15px; color: #666; font-size: 20px; }
.right_nav div{float: right; margin: 10px;}
/* .right_nav . */
/* depth 메뉴 */
.depth{width:100%; position: absolute;height: 605px; background-color: rgba(196, 233, 233, 0.582); left: 0; top: 8vh; display: none; z-index: 300;}
.depth .left_well{width: 15%; height: 100%; border-right :1px #222 solid; float: left; text-align: center; padding-top: 20px; font-weight: bold;}
.depth .left_well a{font-size: 25px; color: #666;}
.depth >ul {height: 100%;  background-color: azure; display: flex; flex-flow: row nowrap; width: 100%; }
.depth > ul > li{width: 20%; text-align: center; }
.depth > ul > li >a{font-size: 20px; margin-top: 20px; margin-bottom: 50px;}
.depth ul li ul {flex-wrap:row nowrap;}
.depth ul li ul li{float: none;} 

/* sec1 */
.swiper{height: 100%; width: 100%;}
.banner{width: 1920px;  margin: 0 auto; position: relative; background-position: center;}
.baner1{background-image: url(../img/banner1.jpg); background-size: 100%; height: 100vh; margin: 0 auto; position: relative; background-repeat: no-repeat; background-size: cover;} 
.baner2{background-image: url(../img/banner2.jpg); background-size: 100%;height: 100vh; margin: 0 auto; position: relative;background-repeat: no-repeat; background-size: cover;}
.baner3{background-image: url(../img/banner3.jpg); background-size: 100%; height: 100vh; margin: 0 auto; position: relative;background-repeat: no-repeat; background-size: cover;}
.baner4{background-image: url(../img/banner4.jpg); background-size: 100%; height: 100vh; margin: 0 auto; position: relative;background-repeat: no-repeat; background-size: cover;}
.baner1 .b_tb1{position: absolute; top: 12vh; left: 52%;}
.baner2 .b_tb2{position: absolute; top: 12vh; left: 45%;}
.baner2 .b_tb2 span{text-align: center; width: 100%; padding-top: 30px;}
.baner2 .b_tb2 p{text-align: center;}
.baner3 .b_tb3{position: absolute; top: 12vh; left: 45%;}
.baner3 .b_tb3 .opacity_bg{background-color: rgba(255, 235, 235, 0.418); width: 150%; height: 100%; border-radius: 20px;}
.baner3 .b_tb3 span{text-align: center; width: 100% ; padding-top: 10px;} 
.baner3 .b_tb3 h1{text-align: center; width: 100%; }
.baner3 .b_tb3 p{width: 100%; text-align: center; }
.baner4 .b_tb4{position: absolute; top: 12vh; left: 18%;}
.banner div span{float: right;}
.banner div h1{font-size: 65px; font-weight: normal; text-shadow: 1px 3px 6px ; color: #292929; }
.banner div p{text-align: right;}
.center .swiper-horizontal >.swiper-pagination-bullets{bottom: 50px;}
.center .swiper-horizontal >.swiper-pagination-bullets span{width: 100px; height: 5px; background-color: rgb(189, 140, 51); border-radius: 10px;}
.center .swiper .swiper-slide-active h1{animation:bounce-in-right  1.5s ease;}
.center .swiper .swiper-slide-active p{animation: bounce2 2.5s ease;}
.center .swiper .swiper-slide-active span{animation: bounce 2.5s ease;}


/* sec2 */
.center_2{margin-top: 70px; width: 1920px; margin: 0 auto;  height: 100vh;}


/* sec3 */
.sec3{width: 100%; margin-top: 70px; }
.sec3_top_banner{width: 100%; height: 200px; box-shadow: 3px 3px 5px #999;}
.sec3_top_banner .sec3_bg{background-image: url(../img/vr.png);background-repeat: no-repeat; background-size: 100%; height: 200px; padding-top: 40px; padding-left: 40px; background-position: bottom;}
.sec3_top_banner .sec3_bg span{display: block; margin-top: 20px;}
.sec3_top_banner .sec3_bg a{margin-top: 10px;}
.sec3_img_slide{width: 100%; height: 550px; margin-top: 150px;}
.sec3_img_slide .swiper{overflow: visible;}
.sec3_img_slide .swiper .swiper-wrapper .swiper-slide { width:33.3333333%; position: relative; }
.sec3_img_slide .swiper .swiper-wrapper .swiper-slide h1{text-align: center; width: 100%; color: rgb(0, 0, 0); margin-top: 40px; font-weight: normal; margin-bottom: 10px; }
.sec3_img_slide .swiper .swiper-wrapper .swiper-slide img{width: 30%; margin: 0 auto; text-align: center;display: block;}
.sec3_img_slide .swiper .swiper-wrapper .swiper-slide span{text-align: center; width: 100%; color: #666; margin-top: 5px  ;font-weight: normal; display: block;}
.sec3_img_slide .swiper .swiper-wrapper .swiper-slide a{text-align: center; width: 20%; transition: all 0.4s; color: rgb(41, 22, 22);  border-radius: 20px;font-weight: normal; position: absolute; left: 50%; transform:  translateX(-50%); top: 85%; background-color: rgba(245, 222, 179, 0.596); height: 32px; line-height: 2; font-weight: bold;}
/* .sec3_img_slide .swiper .swiper-wrapper .swiper-slide a:hover{background-color: rgb(190, 152, 105); color: #ffffff;} */
.sec3_img_slide .swiper .swiper-wrapper .swiper-slide a:after{content: ""; }
.sec3_img_slide .swiper .swiper-wrapper .ss1{background-image: url(../img/event.png); height: 100%; background-repeat: no-repeat; background-position: bottom; background-color: #E1E9E9;}
.sec3_img_slide .swiper .swiper-wrapper .ss2{background-image: url(../img/review.png); height: 100%; background-repeat: no-repeat; background-position: bottom; background-color: #CFBDAB;}
.sec3_img_slide .swiper .swiper-wrapper .ss3{background-image: url(../img/lifestyle.png); height: 100%; background-repeat: no-repeat; background-position: bottom; background-color: #F1E1AF;}
.sec3_img_slide .swiper .swiper-wrapper .ss4{background-image: url(../img/sns.png); height: 100%; background-repeat: no-repeat; background-position: bottom; background-color: #dbcbda;}
.sec3_img_slide .swiper .swiper-button-next{right: -10%; color: brown; }
.sec3_img_slide .swiper .swiper-button-prev{left: -10%; color: brown;}
.sec3_img_slide .swiper .util {display: flex;  align-items: center;  justify-content: space-between;  position: relative;  z-index:50;}
.sec3_img_slide .swiper .util::after { display: none;}
.sec3_img_slide .swiper .util .swiper-scrollbar {width: 100%; height: 10px;   background: #dfdfdf;}
.sec3_img_slide .swiper .util .swiper-notification {bottom: 0; left: 0;}
.sec3_img_slide .swiper .util .swiper-scrollbar .progress {transition: all 0.3s ease; height:10px; background:rgb(224, 183, 136); }

/* sec4 */
.sec4{margin-top: 70px; width: 100%; height: 95vh; margin: 0 auto;}  
.sec4 .main_box{text-align: center; padding-top:0px; width: 100%; height: 15%; margin-top:80px; }  
.sec4 .main_box h1{font-size: 30px; line-height: 3;width: 50%; height: 80px; margin: 0 auto; }
.sec4 .main_box .notbed{ background-image: url(../img/notbed..png); background-size:auto; width: 100%; height:12px; background-position: center;}
.sec4 .sec4_tap_menu{width: 100%; height: 25%;text-align: center;}
.sec4_tap_menu .tab_menu{text-align: center; width: 100%; font-size: 20px;  position: relative;}
.sec4_tap_menu .tab_menu .triangle{width: 20px; transition: all 0.2s;position: absolute; left: 55%; transform: translateX(-45%); transform: rotate(180deg); margin-top:-32px; }
.sec4_tap_menu .tab_menu .triangle.active{transform: rotate(0deg); }
.sec4 .sec4_tap_menu ul{display: none;} 
.sec4 .sec4_tap_menu .tab_menu > a{margin-bottom: 7px;}
.sec4 .sec4_tap_menu ul li{text-align: center; width: 15%; margin:0 auto; background-color: rgba(236, 231, 221, 0.582);  border-bottom:#222 0.5px solid;}
.sec4 .sec4_tap_menu ul li a{font-weight: bold; text-align: center; font-size: 16px; height: 30px; line-height: 2; }
.sec4_wide_page{position: relative; width: 100%; height: 60%; margin: 0;}
.sec4_wide_page ul{display: grid; grid-template-columns: 1fr 1fr 1fr; position: absolute; bottom: 15%; grid-gap: 50px; width: 100%; margin: 0 auto;}
/* .sec4_page ul{} */
.tab_menu ul li.active{background-color: rgb(216, 199, 175); transition: all 0.5s;}
.sec4_wide_page .sec4_page ul li a{background-color: hsla(304, 17%, 83%, 0); position: relative; width: 100%; height: 45vh; overflow: hidden;}
.sec4_wide_page .sec4_page ul li:hover .sec4_bgbx{opacity: 1; top: 0;}
.sec4_wide_page .sec4_page ul li:hover .sec4_imgbx{transform: scale(1.2 , 1.2); transition: all 0.5s;border-radius:20px;}
.sec4_wide_page .sec4_page ul li a .sec4_imgbx{position: absolute; width: 100%; height: 100%; z-index: 20;transition: all 0.5s; transform: scale(1.0 ,1.0); border-radius:20px;}
.sec4_wide_page .sec4_page ul li a .sec4_bgbx{position: absolute; width: 100%; height: 100%; z-index: 100; background-color: rgba(185, 123, 66, 0.7); top:-50%; opacity: 0; transition: all 0.5s; background-repeat: no-repeat; }
.sec4_wide_page .sec4_page ul li a .sec4_bgbx h2{text-align: center; margin: 35px 0; margin-top: 70px;font-size: 25px; color: white; text-shadow: 1px 1px 2px rgba(255, 228, 196, 0.219);}
.sec4_wide_page .sec4_page ul li a .sec4_bgbx span{text-align: center; display: block;  font-size: 16px; color: white; text-shadow: 1px 1px 2px rgba(255, 228, 196, 0.219);}
.sec4_wide_page .sec4_page ul li a .sec4_bgbx p{text-align: center; display: block;padding-top: 150px;  font-size: 20px; color: white; text-shadow: 1px 1px 2px rgba(255, 228, 196, 0.219); width:30%; margin: 0 auto;}
.sec4_wide_page .sec4_page ul li a .sec4_bgbx p:hover{color: rgb(85, 226, 231); font-weight: bold;}
.sec4_wide_page .sec4_page ul li a .sec4_bgbx.acvtive{opacity: 1;transition: all 0.3s;}
.imgbox1{background-image: url(../img/bad1.png); background-repeat: no-repeat; background-size: 100%;}
.imgbox2{background-image: url(../img/bad2.png); background-repeat: no-repeat; background-size: 100%;}
.imgbox3{background-image: url(../img/bad3.png); background-repeat: no-repeat; background-size: 100%;}
.imgbox1-2{background-image: url(../img/desk1.jpg); background-repeat: no-repeat; background-size: 100%;}
.imgbox2-2{background-image: url(../img/desk2.jpg); background-repeat: no-repeat; background-size: 100%;}
.imgbox3-2{background-image: url(../img/desk3.jpg); background-repeat: no-repeat; background-size: 100%;}
.imgbox1-3{background-image: url(../img/ch1.jpg); background-repeat: no-repeat; background-size: 100%;}
.imgbox2-3{background-image: url(../img/ch2.jpg); background-repeat: no-repeat; background-size: 100%;}
.imgbox3-3{background-image: url(../img/ch3.jpg); background-repeat: no-repeat; background-size: 100%;}
.imgbox1-4{background-image: url(../img/table.jpg); background-repeat: no-repeat; background-size: 100%;}
.imgbox2-4{background-image: url(../img/table2.jpg); background-repeat: no-repeat; background-size: 100%;}
.imgbox3-4{background-image: url(../img/table3.jpg); background-repeat: no-repeat; background-size: 100%;}


/* sec5 */
.sec5{width: 100%; height: 140vh; float: left;}
.sec5_top{width: 100%; height: 100px; background-color: #F2F5F5;}
.sec5_top .sec5_tbx{width: 660px; height: 100%; margin: 0 auto; padding-top: 30px;}
.sec5_top a{text-align: center; display: inline-block; font-size: 29px;}
.sec5_top a span{font-size: 29px; color: red; font-weight: bold;}
.sec5_top p{text-align: center; display: inline-block; font-size: 18px; margin-left: 10px;}
.sec5_top i{text-align: center; display: inline-block; margin-left: 10px; cursor: pointer; }
.sec5_nav{width: 100%; border-bottom: #222 1px solid; height: 70px; padding-top: 35px;float: left;}
.sec5_nav .centerbox{height: 800px; position: relative;}
.sec5_nav .centerbox> ul{display: grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; text-align: center;}
.sec5_nav .centerbox >ul >li> a.active{color: red;}
.sec5_nav .centerbox ul li ul{display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; grid-template-rows: 1fr 1fr; margin-top: 70px; grid-gap: 30px; position: absolute; left: 50%; transform: translateX(-50%); width: 90%;height:90vh;}
.snsbg{width: 100%; height: 100%; border: 1px solid #555; display: none;}
.sec5_buttonbx{width: 100%; height: 30px; text-align: center; position: absolute; bottom: -40%;} 
.sec5_buttonbx:hover a{background-color: #f1e0af91 ;}
.sec5_buttonbx a{width: 80px; height: 40px; border-radius: 20px; background-color: #F1E1AF; line-height: 2.5; margin: 0 auto;}
.snsbg{background-repeat: no-repeat;background-size: cover}

.sbg1{background-image: url(../img/bbg1.png);}
.sbg2{background-image: url(../img/bbg2.png);}
.sbg3{background-image: url(../img/bbg3.png);}
.sbg4{background-image: url(../img/bbg4.png);}
.sbg5{background-image: url(../img/bbg5.png);}
.sbg6{background-image: url(../img/bbg6.png);}
.sbg7{background-image: url(../img/bbg7.png);}
.sbg8{background-image: url(../img/bbg8.png);}

.sbg1-2{background-image: url(../img/bbg1-2.jpg);}
.sbg2-2{background-image: url(../img/bbg2-2.jpg);}
.sbg3-2{background-image: url(../img/bbg3-2.jpg);}
.sbg4-2{background-image: url(../img/bbg4-2.jpg);}
.sbg5-2{background-image: url(../img/bbg5-2.jpg);}
.sbg6-2{background-image: url(../img/bbg6-2.jpg);}
.sbg7-2{background-image: url(../img/bbg7-2.jpg);}
.sbg8-2{background-image: url(../img/bbg8-2.jpg);}

.sbg1-3{background-image: url(../img/bbg1-3.jpg);}
.sbg2-3{background-image: url(../img/bbg2-3.jpg);}
.sbg3-3{background-image: url(../img/bbg3-3.jpg);}
.sbg4-3{background-image: url(../img/bbg4-3.jpg);}
.sbg5-3{background-image: url(../img/bbg5-3.jpg);}
.sbg6-3{background-image: url(../img/bbg6-3.jpg);}
.sbg7-3{background-image: url(../img/bbg7-3.jpg);}
.sbg8-3{background-image: url(../img/bbg8-3.jpg);}

.sbg1-4{background-image: url(../img/bbg1-4.jpg);}
.sbg2-4{background-image: url(../img/bbg2-4.jpg);}
.sbg3-4{background-image: url(../img/bbg3-4.jpg);}
.sbg4-4{background-image: url(../img/bbg4-4.jpg);}
.sbg5-4{background-image: url(../img/bbg5-4.jpg);}
.sbg6-4{background-image: url(../img/bbg6-4.jpg);}
.sbg7-4{background-image: url(../img/bbg7-4.jpg);}
.sbg8-4{background-image: url(../img/bbg8-4.jpg);}

.sbg1-5{background-image: url(../img/bbg1-5.jpg);}
.sbg2-5{background-image: url(../img/bbg2-5.jpg);}
.sbg3-5{background-image: url(../img/bbg3-5.jpg);}
.sbg4-5{background-image: url(../img/bbg4-5.jpg);}
.sbg5-5{background-image: url(../img/bbg5-5.jpg);}
.sbg6-5{background-image: url(../img/bbg6-5.jpg);}
.sbg7-5{background-image: url(../img/bbg7-5.jpg);}
.sbg8-5{background-image: url(../img/bbg8-5.jpg);}

.sbg1-6{background-image: url(../img/bbg1-6.jpg);}
.sbg2-6{background-image: url(../img/bbg2-6.jpg);}
.sbg3-6{background-image: url(../img/bbg3-6.jpg);}
.sbg4-6{background-image: url(../img/bbg4-6.jpg);}
.sbg5-6{background-image: url(../img/bbg5-6.jpg);}
.sbg6-6{background-image: url(../img/bbg6-6.jpg);}
.sbg7-6{background-image: url(../img/bbg7-6.jpg);}
.sbg8-6{background-image: url(../img/bbg8-6.jpg);}


/* sec6 */
.sec6{width: 100vw; height: 110vh; margin-top: 40px; float: left;}
.sec6_top_line{width: 100%; height: 120px; border-bottom: 1px solid #666;}
.sec6_top_tbx{width: 100%; text-align: center; margin-top: 30px; line-height: 6; font-size: 24px;}
.sec6_main_txt{width: 100%; text-align: center; margin-top: 30px;}
.sec6_main_txt span{display: block; margin-bottom: 20px;}
.sec6_main_txt h2{display: inline;}
.sec6_main_txt h3{display: inline;}
.sec6_img_up{width: 100%; height: 70px; margin-top: 40px;}
.sec6_img_up .sec6_icon{background-image:url(../img/one.png); background-repeat: no-repeat; width: 70px; height: 70px; float: left; position: relative;}
.sec6_img_up .sec6_icon span{font-size: 20px; color: red; position: absolute; left: 53%; transform: translateX(-47%); width: 50px; top: 18px;}
.sec6_img_up .sec6_up_textbox{width: 600px; height: 70px; float: left; margin: 0 30px;}
.sec6_img_up .sec6_up_textbox p{font-size: 18px; font-weight: bold; color: red; }
.sec6_img_up .sec6_up_textbox b{color: #222; font-weight: normal;}
.sec6_img_up .sec6_up_textbox span{margin-top: 5px; display: block;}
.sec6_main_img_bg{width: 100%; margin-top: 20px;}
.sec6_main_img_bg ul{display: grid; grid-template-columns: 1fr 1fr; grid-gap: 40px;} 
.sec6_bbg{width: 560px; height: 400px;}
.s6_b1{background-image: url(../img/sec6_bg.png); background-repeat: no-repeat;background-size: cover; background-position: center;}
.s6_b2{background-image: url(../img/sec6_bg2.png); background-repeat: no-repeat;background-size: cover;background-position: center}
.sec6_main_img_bg ul li h1{display: block; margin: 20px 0 5px; color: rgb(202, 12, 12); }

/* sec7 */
.sec7{width: 100%; height: 960px; background-color: #F5EAEA; float: left; margin-top: 70px;}
.sec7 .centerbox{height: 100%;}
.sec7_main{ width: 100%; text-align: center; margin-top: 70px;}
.sec7_main h1{ font-weight: normal; color: #707070;}
.sec7_main_img{height: 380px;}
.sec7_main_img ul{display: grid; grid-template-columns: 1fr 1fr 1fr; grid-auto-flow:row;}
#sec7_ul{margin-top: 50px;}
.sec7_main_img #sec7_ul li{position: relative; width: 100%; height: 310px; margin: 0 auto;}
.sec7_main_img ul li .sec7_bg{position: absolute;}
.sec7_main_img ul li a{width: 100%; height: 30px; text-align: center;}
#sec7_ul li .s7_tg.active{transition: all 0.3s; opacity: 0;}
.sec7_bg{width: 280px; height: 280px; left: 50%; transform: translateX(-50%);}
.s7_b1{background-image: url(../img/1.1.svg); background-repeat: no-repeat; background-size: cover; transition: all 0.5s; opacity: 1; z-index: 30;}
.s7_b2{background-image: url(../img/1.2.svg); background-repeat: no-repeat;background-size: cover;transition: all 0.5s; opacity: 1; z-index: 10;}
.s7_b1-2{background-image: url(../img/2.2.svg); background-repeat: no-repeat;background-size: cover;transition: all 0.5s;opacity: 1; z-index: 30;}
.s7_b2-2{background-image: url(../img/2.1.svg); background-repeat: no-repeat;background-size: cover;transition: all 0.5s; opacity: 1; z-index: 10;}
.s7_b1-3{background-image: url(../img/3.2.svg); background-repeat: no-repeat;background-size: cover;transition: all 0.5s;opacity: 1; z-index: 30;}
.s7_b2-3{background-image: url(../img/3.1.svg); background-repeat: no-repeat;background-size: cover;transition: all 0.5s; opacity: 1; z-index: 10;}

.sec7_notice{text-align: center; margin-top: 60px;}
.sec7_notice h1{font-weight: normal; color: #707070;}
.sec7_sen_bx{width: 100%; margin-top: 50px;}
.sec7_notice_sen{width: 100%; height: 200px;} 
.sec7_sen_bx .sen_lbx{width: 50%; float: left; height: 30px; cursor: pointer;}
.sec7_sen_bx .sen_rbx{width: 50%; float: right;height: 30px; cursor: pointer;}
.sec7_sen_bx .sen_rbx p{text-align: right; font-size: 16px; color: #666; height: 30px;}
.sec7_sen_bx .sen_lbx span{font-size: 16px;color: #666}
/* .sec7_notice_btn{width: 100%;} */
.sec7_notice_btn a{text-align: center; width: 7%; height: 30px; margin: 0 auto; border: 1px solid rgba(102, 102, 102, 0.267);line-height: 2; border-radius: 30px; background-color: #E1E9E9; }
.sec7_notice_btn a:hover{background-color: #666; color: white;}


/* footer */
footer{background-color: #d3d3d3}
.footer_up{width: 100%; height: 290px; border-bottom: #555 1px solid; position: relative;}
.footer_icon_bx{width: 100%; height: 100px; margin-top: 60px;}
.ft_tbx p{float: left; line-height: 2;  color: white; margin-right: 10px;}
.footer_icon_bx .ft_icon ul li{width: 30px; float: left; margin:5px;}
.ft_tap_btn{position: absolute; left: 80%; transform: translateX(-20%); top: -20px;}
.ft_tap_btn img{width: 10px;}
.ft_logo_fsite{width: 100%; height: 120px;}
.ft_logobx{float: left; width: 50%;}
.ft_logobx img{width: 230px; height: 70px;}
.ft_family{float: right; width: 50%;}
.ft_family .ft_site_open {width: 100px; float: right}
.ft_family .ft_site_open ul li{display: none;}
.footer_nav{width: 100%; height:40px; margin-top: 10px;}
.footer_nav ul{display: flex; flex-wrap:wrap; justify-content: space-around;}
.footer_nav ul li{float: left; margin: 10px; text-align: center;}
.footer_nav ul li p{display: inline; font-size: 1.2vw; margin: 2px;}
#pri{color: rgb(243, 240, 45);}
/* .footer_nav ul li span{display: inline-block;} */

.footer_down{width: 100%; height: 305px; padding-top: 20px;}
.copyright{text-align: center; color: white; margin-top: 40px; margin-bottom: 30px;}
.copyright h2{font-size: 13px;}


@media screen and (max-width:1600px){
  .top_menu .logo{margin-top: 18px;}
  .centerbox{width: 960px; margin: 0 auto;}
  .center_2{overflow: hidden; height: 80vh;}
  .center_2 iframe{height: 100%;}
  .banner{width: 100vw;}
  .baner1 .b_tb1{top: 12%; left: 8%;}
  .baner2 .b_tb2{left: 27%;}
  .baner3 .b_tb3{left: 20%;}
  .center_2{width: 100vw; margin: 0 auto;}
  .sec4{width: 100%;}
  .sec4_wide_page{width: 960px;}
  .sec4_wide_page .sec4_page ul li a{ width: 100%;}
  .sec4_tap_menu .tab_menu .triangle{width: 20px; transition: all 0.2s;position: absolute; left: 57%; transform: translateX(-43%); transform: rotate(180deg); margin-top:-33px; }
  .sec5{height: 170vh; }
  .sec5_nav .centerbox> ul >li >ul{width: 960px; margin: 0 auto; margin-top: 40px;grid-template-columns: 1fr 1fr; grid-template-rows: 1fr 1fr 1fr 1fr;}
  .snsbg{width:100%; height:32vh;}
  .sec5_buttonbx{width: 100%; height: 30px; text-align: center; position: absolute; bottom: -40%;} 
  .sec6{height: 140vh;}
  .sec6_bbg{width: 100%;}
    
}
/* 테블릿 */
@media screen and (max-width:1024px){
  .top_menu .logo{margin-top: 25px; margin-left: 50px;}
  .top_menu .logo img{width:120px; height: 45px; margin-top: 20px;} 
  .center_2 iframe{width: 100%; }
  .mb_ham{display: block; width: 100px; height: 100px; float: right;margin-top: 0px; margin-right: 50px; padding-bottom: 30px; box-sizing: border-box;}
  .mb_nav{display: block;width: 100%; position: absolute;  z-index: 200; height: 100vh;    background-color: rgba(6, 6, 6, 0.8); right: -100%; top: 0;}
   
  .mb_main_menu nav ul li{border-bottom: #222 1px solid; margin-top: 15px 0; padding:10px 20px  ;}
  .mb_main_menu nav ul li ul li{padding: 0; margin-top: 5px;}
  .mb_close_btn img{width: 50px; height: 50px; position: absolute; top:5px; right:20px}
  .mb_main_menu nav> ul >li> a{font-size: 20px; font-weight: bold; display: flex; justify-content: space-between; align-items: center;}
  .mb_main_menu nav> ul> li> a img{width: 10px; height: 10px; transition: all 0.3s;transform:rotateZ(180deg)}
  .mb_main_menu nav> ul> li.active >a{color: purple ;}
  .mb_main_menu nav> ul> li.active a img{transform:rotateZ(0deg) ; transition: all 0.3s;}
  .mb_main_menu nav ul li ul{display:none; background-color: #cfbdab7e; flex-flow: column nowrap; display: flex;}
  .mb_main_menu{display: block; }
  .mb_main_menu nav ul{display: flex; flex-flow:column nowrap; margin-top: 30px;}
  .mb_top menu ul{display: flex; flex-flow: column; justify-content: space-around; flex-flow: row nowrap;}
  .mb_top_menu ul li {margin: 15px; float: left; }
  .mb_top_menu ul li a{display: inline;}
  .mb_nav_in{width: 60%; height:100vh; background-color: #fff; float: right;}
  .mb_top_menu{background-color: rgba(212, 50, 50, 0.74); height: 60px;}
  .mb_top_menu ul{display: block;}
  .mb_close_btn{display: block;}
  
  .center_2{overflow: hidden; height: 100vh;}
  .center_2 iframe{height: 100%;}
  .centerbox{width: 100%; margin: 0 auto;}
  .right_nav{display: none;}
  .left_nav {display: none;}
  .top_menu .logo{width:10vh  ; margin-top: 12px;}
  .top_menu{width: 100vw; height: 75px; position: relative;}
  .sec4_wide_page{width: 96%; margin:0 auto;}
  .sec4{height: 150vh;}
  .sec4_tap_menu .tab_menu .triangle{width:15px;  transition: all 0.2s;position: absolute; left: 58%; transform: translateX(-42%); transform: rotate(180deg); margin-top:-33px; }
  .sec4_wide_page .sec4_page ul li a{height: 36vh;}
  .sec4_wide_page {height: 40vh; margin: 0 auto;}
  .sec4_wide_page .sec4_page ul li a .sec4_bgbx p{padding-top: 100px;}
  .sec3_img_slide .swiper .swiper-wrapper .swiper-slide a{text-align: center; width: 30%; transition: all 0.4s; color: rgb(41, 22, 22);  border-radius: 20px;font-weight: normal; position: absolute; left: 50%; transform:  translateX(-50%); top: 85%; background-color: rgba(245, 222, 179, 0.596); height: 32px; line-height: 2; font-weight: bold;}
  .sec5{height: 160vh}
  .sec5 .centerbox{height: 100%;}
  .sec5_top .sec5_tbx p{display:none ;}
  .sec6{height: 230vh;}
  .sec6_img_up{position: relative;} 
  .sec6_img_up .sec6_up_textbox{padding-left: 50px; padding-top: 15px;}
  .sec6_img_up .sec6_icon{background-size: 100%; float: left; position: absolute;}
  .sec6_img_up .sec6_up_textbox p{float: left;}
  .sec6_main_img_bg{height: 150vh;}
  .sec6_main_img_bg ul{display: grid; grid-template-rows: 1fr 1fr; grid-gap: 20px;grid-template-columns: 1fr; height: 130vh; width: 80%; margin: 0 auto;} 
  .sec6_bbg{width: 100%; height:100%;}
  .s6_b2{background-position: top;}
  #sec6_txtbx{height:30vh;}
  .sec7_main_img #sec7_ul li{height: 34vh;}
  .sec7_bg{width: 32vh; height: 32vh;}
  .sec7_sen_bx .sen_lbx{width: 50%; float: left; height: 30px; padding-left: 10px;}
  .sec7_sen_bx .sen_rbx{width: 50%; float: right;height: 30px; padding-right: 10px;}
  .sec7_notice_btn a{width: 10vw; height: 32px; }

  .footer_down{width: 90vw; height: 47vh; padding-top: 30px; margin: 0 auto;}
  .footer_up{width: 90vw; height: 42vh; border-bottom: #555 1px solid; margin: 0 auto;}
}
@media screen and (max-width:768px){
  .top_menu .logo{margin-top: 25px;}
  .top_menu .logo img{width:100px; height: 31px;}
  .sec3_img_slide .swiper .swiper-wrapper .swiper-slide { width:100%; position: relative; }
  .sec3_img_slide .swiper .util .swiper-scrollbar {display: none;}
  .sec3_img_slide .swiper .swiper-wrapper .swiper-slide a{background-color: rgb(231, 231, 228);}
  .sec4{height: 205vh;}
  .sec4 .main_box{height: 20vh;}
  .sec4 .main_box h1{width: 90%;}
  .sec4 .sec4_tap_menu{width: 100%; height: 20vh;text-align: center;}
  .sec4_tap_menu .tab_menu .triangle{width:15px;  transition: all 0.2s;position: absolute; left: 65%; transform: translateX(-35%); transform: rotate(180deg); margin-top:-33px; }
  .sec4 .sec4_tap_menu ul li{ width: 70%; }
  .sec4_wide_page ul{grid-template-columns: 1fr; grid-template-rows: 1fr 1fr 1fr; top: 30px; height: 150vh; grid-gap: 10px;}
  .sec4_wide_page .sec4_page ul li{width: 60vw; height: 45vh; margin: 0 auto;}
  .sec4_wide_page .sec4_page ul li a{height: 100%;width: 100%;}
  .sec4_wide_page .sec4_page ul li a .sec4_imgbx{width: 100%; height: 100%;}
  .sec5_buttonbx{display: none;}
  .sec5_nav .centerbox ul li ul{width: 90vw; margin: 0 auto; margin-top: 55px;}
  .sec7{width: 100%; height: 110vh;}
  .sec7_main_img #sec7_ul li{height: 29vh;}
  .sec7_bg{width: 28vh; height: 28vh;} 
  .sec7_main_img{height: 32vh;}
  .sec7_sen_bx .sen_lbx{width: 80%; float: left; height: 30px; padding-left: 10px;}
  .sec7_sen_bx .sen_rbx{width: 20%; float: right;height: 30px; padding-right: 10px;}
  .footer_up{width: 90vw; height: 42vh; border-bottom: #555 1px solid; margin: 0 auto;} 
  .footer_nav ul li{float: left; margin:0px;}
  .footer_nav ul li p{font-size: 1vw;}
}
@media screen and (max-width:650px){

  .sec5_top .sec5_tbx{width:100vw; margin: 0 auto; padding-top: 10px; height: 25vw;}
  .sec5_top .sec5_tbx a{width: 100%; float: left;}
  .sec5_top .sec5_tbx i{width: 100%; text-align: center; margin-top: 20px;}
  .sec6_img_up .sec6_up_textbox{width: 80vw; float: left; margin-left:70px; padding: 5px; margin-right: 0;}
  .sec6_img_up .sec6_up_textbox p{font-size: 16px; font-weight: bold; color: red; width: 100%;}
  .sec6_img_up .sec6_up_textbox b{color: #222; font-weight: normal;width: 100%;}
  .sec6_img_up .sec6_up_textbox span{margin-top: 5px; display: block; width: 100%; font-size: 16px;}
  .sec6_img_up{width: 100vw; margin-top: 40px;}
  .sec6_img_up .sec6_icon{background-color: red; width: 20px; height:20px; float: left; position: relative; left: 30px; border-radius: 100%; margin-top: 10px; background-image: none;}
  .sec6_img_up .sec6_icon span{font-size: 16px; color: red; position: absolute; left: 50%; transform: translateX(-50%); width: 40px; top: 20px;}
  .sec7_main_img #sec7_ul li{height: 23vh;}
  .sec7_bg{width: 22vh; height: 22vh;} 
  .sec7_notice_btn a{width: 15vw; height: 32px; }
  .footer_up{ height: 42vh; border-bottom: #555 1px solid;}  
  .ft_family .ft_site_open {display: none;}
  .ft_logobx{width:230px; margin: 0 auto; float: none;}
}
@media screen and (max-width:480px){
  .banner .b_text_box{left:50%; transform: translateX(-50%);}
  .baner3 .b_tb3{width: 100vw;  }
  .baner3 .b_tb3 .opacity_bg{width: 100%;}
  .sec3_img_slide{width: 100%; height: 550px; margin-top: 50px;}
  .top_menu .logo{margin-top: 25px; margin-left: 15px; margin-top: 7px;}
  .top_menu .logo img{width:85px; height: 30px;}
  .mb_ham{display: block; width: 80px; height: 80px; float: right;margin-top: 0px; margin-right: 0px;}
  .mb_nav_in{width: 80%; height:100vh; background-color: #fff; float: right;}
  .center .swiper-horizontal >.swiper-pagination-bullets span{width: 10vw;}
  .center_2{width: 100vw; margin: 0 auto;  height: 30vh; margin-top: 95px;}
  .center_2 iframe{height: 25vh}
  .banner div h1{font-size: 45px;}
  .sec4 .main_box h1{font-size: 24px;}
  .sec5_nav .centerbox ul li ul{grid-gap: 15px;}
  .sec6{height: 250vh; margin-top: 40px; float: left;}
  .sec6_bbg{background-position: center;}
  .sec6_img_up .sec6_up_textbox{width: 70vw; float: left; margin-left: 40px; padding:0;}
  .sec6_img_up .sec6_up_textbox p{font-size: 14px; font-weight: bold; color: red; width: 100%;display: inline; float: left;}
  .sec6_img_up .sec6_up_textbox b{color: #222; font-weight: normal;width: 100%; display: inline;}
  .sec6_img_up .sec6_up_textbox span{margin-top: 5px; display: inline-block; width: 100%; font-size: 14px;}
  .sec7 .centerbox{width: 90vw;}
  .sec7_bg{width: 13vh; height: 13vh;} 
  .sec7_main_img #sec7_ul li{height: 14vh;}
  .sec7_main_img{height: 25vh;}
  .sec7_sen_bx .sen_rbx{display: none;}
  .sec7_sen_bx .sen_lbx{width: 100%; float: left; height: 30px; padding-left: 10px;}
  .sec7{width: 100%; height: 110vh;}
  .sec7_notice_btn a{width: 20vw; height: 32px; }
  .footer_up{height: 44vh; border-bottom: #555 1px solid;}
  .footer_nav ul li p{display: inline; font-size:14px;  margin: 5px;}
  .footer_down{display: none;}
  .ft_logobx{width:150px; margin: 0 auto; float: none;}
  .ft_logobx img{width:150px ;height:100%}
}
